h1 {color: blue;
background-color: beige;
text-align: center;
border-radius: 55%;
box-sizing: border-box;}
h3{color: cadetblue;
background-color: burlywood;
border: 0cap;
border-radius: 56%;
text-align: center;
text-decoration: double;}
body{color: bisque;}
p{color: black;}
